* {
    outline: 1px solid red !important;
}
.content {
    display: flex;
 }

 .image {
    flex: 1;
 }
 
 .description {
    flex: 2;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 50px;
    margin-left: 25px;
    font-family: sans-serif;
 }
 
 img {
    width: 100%;
 }
 