*{
    margin: 0px;
    padding: 0px;
    
}
body{
    font-family: sans-serif;
    
}
button{
    background-color:rgba(223, 141, 10, 0.87);
    color:white;
    height: 40px;
    width: 120px;
    border: none;
    font-weight: bold;
}
#nav1{
    display: flex;
    background-color: rgb(246, 243, 237);
    justify-content: space-between;
    font-size:17px;
}

.subtitol{
    text-align: center;
    margin-top:15px; 
}

/*menus dropdown*/


 li a, .dropbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size:17px;
    color: black;
  }

    li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(230, 221, 221, 0.774);
}

 li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content{
    display: block;
  }


/*---------------------------------*/

#menu2 {
    font-weight: bold;
}

.menu ul li{
    overflow: hidden;
    list-style: none;
    margin: 0px;
    display: inline-block;
}

.logos_size{
 max-width: 55%;
 max-height: 50px;   
}

#nav2{
    display: flex;
    justify-content: space-around;
}


.iconos i,a{
    margin: 10px;
    font-size: 20px;
    
}

.imagenes img{
    width: 100%;
    max-height: 550px;
}

.imagenes{
    margin-top: 50px;
    position: relative;
    text-align: center;
    width: 100%;
    height: 70%;
    filter: brightness(0.8);
}
.texto_introducir h2{
    font-size: 2vw;
}
.texto_introducir{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    color: rgb(250, 250, 250);
}

#info1{
    display: flex;
    justify-content: space-around;
    padding-top:35px;
}
 i{
    font-size: 15px;
    margin: 5px;
}

.info i{
    font-size: 28px;
    padding: 15px 15px 0 0; 
    float: left;
    height: 100%;
    color: rgba(223, 141, 10, 0.87);
}
h1{
    text-align: center;
    font-size: 30px;
}

/*Multimedia*/
#multimedia{
    border: 1px solid rgba(218, 218, 218, 0.774);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-bottom: 100px;
    padding: 25px;
    background-color: rgb(163, 159, 159);
}

#multimedia div{
    margin: 10px;
    margin-bottom:40px ;
}


#multimedia video,iframe,audio{
    height: 100%;
    width: 100%;

}

/*------*/

section{
    margin-bottom: 60px;
}

/*Seccion objetos*/
.precio{
    color: orange;
}
.objimg img{
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}
.objimg{
    position: relative;
    width: 100%;
    height: 70%;
    border: 1px solid rgba(192, 191, 191, 0.664);
    padding-top: 5px;
}
.objeto{
    height: 300px;
    width: 270px;
    margin: 20px;
}

.objeto p{
    font-weight: bold;
    margin: 10px;
}
.escaparate{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

/*objetos2*/
.objimg2 img{
    height: 100%;
    width: 100%;
}

.objimg2{
    float: left;
    height: 80px;
    width: 100px;
  
    margin:15px;
}

.objeto2 {
    height: 120px;
    width: 320px;
    padding: 10px;
    background-color: rgb(224, 222, 222);
    margin-right: 80px;
}

.objeto2 p,button{
    margin:10px;
}

#escaparate_pequeño{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
/*objetos 3*/
.timer{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    opacity: 0.7;
    width: 95%;
    text-align: center;
    word-spacing: 2em;
    padding: 5px;
}

.timer p:last-child{
    word-spacing: 1em;
    font-weight: normal;
}

.add{
    float: left;
    margin-top: -5px;
}

/*objetos 4*/
.objeto3{
    width: 200px;
    margin: 20px 10px 20px 10px;
    border: 1px solid rgba(218, 210, 210, 0.637);
    padding: 10px;
}

.objeto3 p{
    font-weight: bold;
}
.objeto3 ul, li{
    list-style: none;
}

.objimg3 img{
    width: 100%;
    height: 100px;
}

/*footer*/
footer{
    margin-top: 200px;
}

#footer1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 100px 50px 100px;
    background-color: rgba(238, 246, 248, 0.808);
}
.xs{
    width: 200px;
}
.xl{
    width: 250px;
}


#email{
    height: 20px;
    width: 180px;
    padding: 5px;
}

#footer1 ul li:first-child{
    font-weight: bold;
    margin-left: 10px;
}
#footer1 button{
    width: 50px;
    margin: 0px;
    height: 35px;
}

#footer2{
    padding-top: 20px;
    height: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
}
